/* Colors CSS: Basically the color palletes for all your pages --body-div-color is the color for the windows on the corresponding page; 
--body-border-color is the color of the border for the window on the corresponding page.*/

body.index {
  --body-div-color: linear-gradient(113deg, #a1b3ff 0%, #c3a1ff 100%);
  --body-border-color: #2000af;
  --bg-image: url(/src/img/bg/index-bg.png);
}

body.art {
  --body-div-color: linear-gradient(191deg, #fffca1 0.02%, #ffe9a1 100.02%);
  --body-border-color: #af8100;
  --bg-image: url(/src/img/bg/art-bg.png);
}

body.chars {
  --body-div-color: linear-gradient(113deg, #acffa1 0%, #ceffa1 100%);
  --body-border-color: #1daf00;
  --bg-image: url(/src/img/bg/char-bg.png);
}

body.guest {
  --body-div-color: linear-gradient(113deg, #a1b7ff 0%, #a1ffff 100%);
  --body-border-color: #0052af;
  --bg-image: url(/src/img/bg/guestbook-bg.png);
}

body.blog {
  --body-div-color: linear-gradient(113deg, #ffa1fa 0%, #ffa1c8 100%);
  --body-border-color: #af00a6;
  --bg-image: url(/src/img/bg/blog-bg.png);
}

body.comic {
  --body-div-color: linear-gradient(113deg, #ffa1a1 0%, #ffb4a1 100%);
  --body-border-color: #af0000;
  --bg-image: url(/src/img/bg/webcomic-bg.png);
}

body.error {
  --body-div-color: linear-gradient(113deg, #ffa1a9 0%, #e2936e 100%);
  --body-border-color: #d31d1d;
  --bg-image: url(/src/img/bg/error-bg.png);
}

body.banban {
  --body-div-color: linear-gradient(113deg, #111111 0%, #161616 100%);
  --body-border-color: #000000;
  --bg-image: url(/src/img/bg/foxy-bg.png);
}
