@import url("/src/css/colors.css");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* Fonts */

p {
  color: #000;

  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #f9f8ff;
  paint-order: stroke fill;

  font-family: "Comic Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

h1 {
  color: #000;

  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #f9f8ff;
  paint-order: stroke fill;

  font-family: "Comic Neue";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: underline dashed;
  color: #120033;
  font-weight: bold;
}

small {
  -webkit-text-stroke-width: 0px;
  font-size: 15px !important;
  font-style: italic;
  margin: 0;
  padding: 0;
  line-height: normal !important;
}

/* General */
body {
  margin: 0;
  padding: 0;
  background-image: var(--bg-image);
  background-repeat: repeat;
  animation: scrollBackground 300s linear infinite;
}

.container {
  height: fit-content;
  display: flex;
  gap: 10px;
  margin: 10px 100px 10px 100px;
  justify-content: center;
}

.content {
  width: fit-content;
  max-width: 100%;
  padding: 15px 15px 15px 15px;

  max-height: 75%;
  overflow-y: auto;
  align-self: stretch;

  background: var(--body-div-color);
  border-radius: 20px;
  border: 10px solid var(--body-border-color);
}
/* Sidebar */
.sidebar {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  padding: 10px 15px 10px 15px;

  width: 264px;
  min-width: 264px;
  max-width: 264px;
  height: 100%;

  background: var(--body-div-color);
  border-radius: 20px;
  border: 10px solid var(--body-border-color);
}
.icongrid {
  display: grid;
  grid-template-columns: 100px 100px;
  row-gap: 37px;
  column-gap: 37px;
}

/* Animations */
@keyframes scrollBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 1000vw 1000vh;
  }
}
